/*
Color palette used for this app: https://coolors.co/palette/0b132b-1c2541-3a506b-5bc0be-6fffe9
*/


* {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 25;
    -fx-text-fill: white;
}

.leftSidebar {
    -fx-background-color: #0b132b;
    -fx-padding: 15;
}
.rightSidebar {
    -fx-background-color: #0b132b;
}

//Buttons Setting
.buttonClass {
    -fx-text-fill: white;
    -fx-background-color: #0b132b;
    -fx-padding: 15;
}
.buttonClass:hover {
    -fx-text-fill: white;
    -fx-background-color: #1c2541;
    -fx-padding: 15 15 15 22;
}

//Margin of SplitPane
.splitPane:horizontal > .split-pane-divider {
   -fx-background-color: #3A506B;
   -fx-padding: 1;
}
.splitPane:vertical > .split-pane-divider {
   -fx-background-color: #3A506B;
   -fx-padding: 1;
}
